@model ecn.communicator.mvc.Models.Email
@using ecn.communicator.mvc.Infrastructure

@{
    ViewBag.Title = "_SubscriberEditor_Details";
    Layout = null;
}

<table>
    <tr>
        <td> Title: </td>
        <td> @Html.TextBoxFor(e => e.Title) </td>
        <td> Full Name: </td>
        <td> @Html.TextBoxFor(e => e.FullName)</td>
    </tr>
    <tr>
        <td> First Name: </td>
        <td> @Html.TextBoxFor(e => e.FirstName) </td>
        <td> Last Name: </td>
        <td> @Html.TextBoxFor(e => e.LastName) </td> 
    </tr>
</table>
<hr />
<table>
    <tr>
        <td>Company: </td>
        <td>@Html.TextBoxFor(e => e.Company)</td>
        <td>Occupation: </td>
        <td>@Html.TextBoxFor(e => e.Occupation)</td>
    </tr>
    <tr>
        <td>Address: </td>
        <td>@Html.TextBoxFor(e => e.Address)</td>
        <td>Address2: </td>
        <td>@Html.TextBoxFor(e => e.Address2)</td>
    </tr>
    <tr>
        <td>City: </td>
        <td>@Html.TextBoxFor(e => e.City)</td>
        <td>State/Zip: </td>
        <td>
            @Html.TextBoxFor(e => e.State)
            @Html.TextBoxFor(e => e.Zip)
        </td>
    </tr>
    <tr>
        <td>Country: </td>
        <td> @Html.TextBoxFor(e => e.Country)</td>
        <td></td>
        <td></td>
    </tr>
</table>
<hr />
<table>
    <tr>
        <td>Voice: </td>
        <td>@Html.TextBoxFor(e => e.Voice)</td>
        <td>Mobile: </td>
        <td>@Html.TextBoxFor(e => e.Mobile)</td>
        <td>Fax: </td>
        <td>@Html.TextBoxFor(e => e.Fax)</td>
    </tr>
    <tr>
        <td>Income: </td>
        <td>@Html.TextBoxFor(e => e.Income)</td>
        <td>Gender: </td>
        <td>@Html.TextBoxFor(e => e.Gender)</td>
        <td>Website: </td>
        <td>@Html.TextBoxFor(e => e.Website)</td>
    </tr>
    <tr>
        <td>Age: </td>
        <td>@Html.TextBoxFor(e => e.Age)</td>
        <td>Birthdate: </td>
        <td>@Html.TextBoxFor(e => e.Birthdate)</td>
        <td>[MM/DD/YYYY]</td>
        <td></td>
    </tr>
</table>
<hr />
@Html.ActionLink("Access other UDF Data", "Index", null, new { style = "float:right;" })
@Html.ActionImage("Index", "Group", null, "~/Images/icon-groupFields.gif", "Image for UDFs", "", "float: right;")
<br />
<table>
    <tr>
        <td>User1: </td>
        <td>@Html.TextBoxFor(e => e.User1)</td>
        <td>User Event1: </td>
        <td>@Html.TextBoxFor(e => e.UserEvent1)</td>
    </tr>
    <tr>
        <td>User2: </td>
        <td>@Html.TextBoxFor(e => e.User2)</td>
        <td>User Event1 Date [MM/DD/YYYY]:</td>
        <td>@Html.TextBoxFor(e => e.UserEvent1Date)</td>
    </tr>
    <tr>
        <td>User3: </td>
        <td>@Html.TextBoxFor(e => e.User3)</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>User4: </td>
        <td>@Html.TextBoxFor(e => e.User4)</td>
        <td>User Event2: </td>
        <td>@Html.TextBoxFor(e => e.UserEvent2)</td>
    </tr>
    <tr>
        <td>User5: </td>
        <td>@Html.TextBoxFor(e => e.User5)</td>
        <td>User Event2 Date [MM/DD/YYYY]:</td>
        <td>@Html.TextBoxFor(e => e.UserEvent2Date)</td>
    </tr>
    <tr>
        <td>User6: </td>
        <td>@Html.TextBoxFor(e => e.User6)</td>
        <td></td>
        <td></td>
    </tr>
</table>