@model ecn.communicator.mvc.Models.GroupWrapper
@using ecn.communicator.mvc.Infrastructure
@using KMEnums
@{
    ViewBag.Title = "Group Editor";
}
<style>
    td, th {
        padding: 3px;
    }

    #GroupDescription {
        width: 300px;
        height: 100px;
        font-size: 13px;
        font-family: Arial;
    }
    #GroupName {
        width: 300px;
        font-size: 13px;
        font-family: Arial;
    }
</style>

<script>
    var currentFolderID = 0;
    function btnCloseSelectFolder_Click() {
        var win = $("#SelectGroupFolder");

        var kendoWindow = win.data('kendoWindow');

        kendoWindow.close();
    }

    function FolderSelected(e) {
        clearValidationErrorMessages();
        var tv = this;
        var selectedFolder = tv.dataItem(e.node);
        var hidden = $('#group_FolderID');
        hidden.val(selectedFolder.id);
        var folderLabel = $('#selectedFolderName');
        folderLabel.html(selectedFolder.text);
        btnCloseSelectFolder_Click();
    }

    var lastErrorControls = [];

    $(document).ready(function () {
        $('#btnSelectFolder').click(function () {
            var win = $("#SelectGroupFolder");

            var kendoWindow = win.data('kendoWindow');
            kendoWindow.center().open();
        });

        $('li.k-item').hover(function () {
            var id = $(this).attr('data-id');
            $(this).children('div').children('span.k-in').attr('data-id', id);
        });
        //$('li.k-item div span.k-in').click(function () {
        //    var id = parseInt($(this).attr('data-id'));
        //    if (id !== currentFolderID) {
        //        //need to modify folder label and folder id for group

        //        currentFolderID = id;

        //    }
        //});
        $('#btnAddGroup').click(function () {
            window.location.href = '@Url.Action("Add")'
        })


        $('#btnSaveGroup').click(function () {
            if (!validate()) return;

            var groupModel = {
                GroupID: $('#GroupID').val(),
                GroupName: $('#GroupName').val(),
                GroupDescription: $('#GroupDescription').val(),
                FolderID: $('#group_FolderID').val(),
                IsSeedList: $('#group_IsSeedList_True').is(':checked') ? true : false
            };

            $.ajax({
                url: '@Url.Action("Update")',
                type: 'POST',
                data: JSON.stringify(groupModel),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (response[0] == '200') {
                        showMessage({
                            type: '@MessageType.Success',
                            autoClose: true
                        });
                        window.location.href = response[1];
                    }
                    else {
                        var errorArray = [];
                        for (var i = 1; i < response.length; i++) {
                            errorArray.push(response[i]);
                        }
                        setValidationServer(errorArray);
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        });
    });

    function validate() {
        clearValidationErrorMessages();
        lastErrorControls = [];
        var ret_val = true;
        if ($('#GroupName').val() == "") {
            lastErrorControls.push({ name: "GroupName", message: "Please enter a name", label: "groupNameLabel", isKendo: false });
            ret_val = false;
        }
        if ($('#group_FolderID').val() == '')
        {
            lastErrorControls.push({ name: "selectedFolderName", message: "Please select a Folder", label: "selectedFolderNameLabel", isKendo: false });
            ret_val = false;
        }

        if (!ret_val) {
            setValidationClient(lastErrorControls);
        }
        return ret_val;
    }
</script>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/ecn.communicator/main/default.aspx">Home /</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Group")">Groups /</a></li>
    <li class="breadcrumb-item active"><a href="#">Edit</a></li>
</ol>
<input type="hidden" id="GroupID" name="GroupID" value="@Model.group.GroupID" />
<div id="errorPanel">@Html.ECNErrors(Model.Errors)</div>
<div id="notificationDiv"></div>
<div id="Edit_Validation" style="margin-left:20px;"></div>
<table style="margin-left:30px;">
    <tr>
        <td id="groupNameLabel">Name:</td>
        <td>
            @Html.TextBoxFor(e => e.group.GroupName, new { id = "GroupName" })
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>
            @Html.TextAreaFor(e => e.group.GroupDescription, new { id = "GroupDescription" })
        </td>
    </tr>
    <tr>
        <td id="selectedFolderNameLabel">Folder:</td>
        <td>
            @Html.Label("selectedFolderName", Model.group.FolderName, new { id="selectedFolderName" })
            
            <button type="button" id="btnSelectFolder" class="btn k-button">Select</button>
            @Html.HiddenFor(x => x.group.FolderID)
            @Html.Hidden("group_FolderID")

            @*@Html.DropDownListFor(x => x.group.FolderID, Model.FolderList.Select(item => new SelectListItem
               {
                   Value = item.FolderID.ToString(),
                   Text = item.FolderName,
                   Selected = item.FolderID == Model.group.FolderID
               }), 
               new { id = "FolderID" })*@
        </td>
    </tr>
    @if (Model.SeedListAllowed)
    {
        <tr>
            <td>Is This Seed List:</td>
            <td>
                @(Html.Kendo().RadioButtonFor(m => m.group.IsSeedList).Label("No").Value(false))
                @(Html.Kendo().RadioButtonFor(m => m.group.IsSeedList).Label("Yes").Value(true))
                &nbsp&nbsp (ECN will automatically send a copy of the blasts to all the emails in the Seed list group. )
            </td>
            <td></td>
        </tr>
    }
    <tr>
        <td></td>
        <td>
            <button type="button" id="btnSaveGroup" class="btn k-button" style="margin-bottom:10px;"> Update </button>
        </td>
    </tr>
</table>


@{
    Html.Kendo()
        .Window()
        .Modal(true)
        .Animation(false)
        .Name("SelectGroupFolder")
        .Actions(x => x.Clear())
        .Title("Folders")

        .Content(
        @<text>
            <div id="deleteDiv">
                @Html.Partial("Partials/_SelectFolder", Model.KendoFolders)
            </div>
        </text>
        )
        .Visible(false)
        .Render();
}