@model UAD.Web.Admin.Models.ProductCustomFields

<script>
    var targetUrl = '@Url.Action("Index", "PubCustomField", new { pubID = "temp"})';

    $(document).ready(function () {
        //window.addEventListener('beforeunload', recordeCloseTime);
        //Prevent user from submitting form using Enter
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetProducts", "CommonMethods")',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#ddlProduct").empty();
                $.each(data, function (index, item) {
                    $('#ddlProduct').append($('<option></option>').val(item.Value).html(item.Text));
                });
                if (@Model.PubID == 0)
                    $('#ddlProduct').val("");
                else
                    $('#ddlProduct').val(@Model.PubID);
            },
            error: function (data) {
                console.log(data);
                alert("An error has occured!!!");
            }
        });

        $("#btnSave").click(function () {
            if ($("#frmPubCustomField").valid()) {
                event.preventDefault();
                savePubCustomField();
            }
        });

        var savePubCustomField=function() {
            var modelData = {
                PubSubscriptionsExtensionMapperID: @Html.Raw(Json.Encode(Model.PubSubscriptionsExtensionMapperID)),
                PubID: $("#ddlProduct").val(),
                StandardField: @Html.Raw(Json.Encode(Model.StandardField)),
                CustomField: $("#txtCustomFieldName").val(),
                CustomFieldDataType: $("#ddlCustomFieldDataType").val(),
                Active: $("#ddlActive").val(),
                DateCreated: @Html.Raw(Json.Encode(Model.DateCreated)),
                CreatedByUserID: @Html.Raw(Json.Encode(Model.CreatedByUserID)),
                DateUpdated: @Html.Raw(Json.Encode(Model.DateUpdated)),
                UpdatedByUserID: @Html.Raw(Json.Encode(Model.UpdatedByUserID)),
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddEdit", "PubCustomField")',
                data: JSON.stringify( modelData ),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    var result =JSON.parse(response);
                    if (result.Success)
                    {
                        var data = {
                            type: '@ECN_Framework_Common.Objects.Communicator.Enums.MessageType.Success',
                            text: result.Text,
                            autoClose: false,
                            action: closePubCustomField,
                            IsOpen: false
                        }
                        showMessage(data);
                    }
                    else
                    {
                        $("#alertMsg").html(result.Text);
                        $("#alertDiv").show();
                    }
                },
                error: function (data) {
                    console.log(data);
                    alert("An error has occured!!!");
                }
            });
        }
    });

    function closePubCustomField() {
        window.location = targetUrl.replace("temp", $("#ddlProduct").val());
    }

    function showAlert() {
        showMessage({
            type: '@ECN_Framework_Common.Objects.Communicator.Enums.MessageType.Confirm',
            text: "Any unsaved data will be lost by leaving this page. Do you wish to continue?",
            autoClose: false,
            IsOpen: false,
            action: closePubCustomField,
        });
        return false;
    }
</script>
<style>
    th, td {
        padding: 5px;
    }

    .help-block ul {
        list-style-type: none;
    }

    .has-error .help-block,
    .has-error .control-label,
    .has-error .form-control-feedback {
        color: #e80c4d;
    }

    .has-error .form-control:focus,
    .has-error .form-control {
        border-color: #e80c4d;
        box-shadow: #e80c4d;
    }
</style>
<div class="gridttl" id="topDiv">
    <div class="gridttlbox">
        <span>@ViewBag.Title</span>
    </div>
</div>
@using (Html.BeginForm("AddEdit", "PubCustomField", FormMethod.Post, new { role = "form", id = "frmPubCustomField", data_toggle = "validator" }))
{
    @Html.HiddenFor(e => e.PubSubscriptionsExtensionMapperID)
    @Html.HiddenFor(e => e.StandardField)
    @Html.HiddenFor(e => e.DateCreated)
    @Html.HiddenFor(e => e.CreatedByUserID)
    <table>
        <tr>
            <td colspan="2">
                <div id="alertDiv" style="display:none;color:red;margin:5px 0 0 0;">
                    <span style="float:left;"><img src='@Url.Content("~/Images/Notifications/Error_New.png")' style="margin:0px;padding:0px;" /></span>
                    <span id="alertMsg" class="message-error"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" valign="middle"><span style="color:red">*</span>@Html.LabelFor(e => e.PubID, new { @class = "control-label" })</td>
            <td>
                <div class="form-group">
                    <div style="float:left;">
                        @Html.DropDownListFor(e => e.PubID, new SelectList(string.Empty, "Value", "Text"), new { id = "ddlProduct", required = "required", @class = "form-control", style = "height:70%; width:250px;", data_required_error = "Please select Product" })
                    </div>
                    <div style="float:left;  padding-left:10px;">
                        <div class="help-block with-errors" style="height:10px; font-weight:bold;"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" valign="middle" width="50%"><span style="color:red;font-weight:bold;">*</span>@Html.LabelFor(e => e.CustomField, new { @class = "control-label" })</td>
            <td width="50%">
                <div class="form-group">
                    <div style="float:left">
                        @Html.TextBoxFor(e => e.CustomField, new
                   {
                       id = "txtCustomFieldName",
                       @class = "form-control",
                       type = "text",
                       required = "required",
                       data_required_error = "Please provide CustomField",
                       @maxlength = "255",
                       style = "height:70%; width:270px; Color:Black;",
                   })
                    </div>
                    <div style="float:left;  padding-left:10px;">
                        <div class="help-block with-errors" style="height:10px; font-weight:bold;"></div>
                    </div>
                </div>
            <td>
        </tr>
        <tr>
            <td align="right" valign="middle">@Html.LabelFor(e => e.CustomFieldDataType, new { @class = "control-label" })</td>
            <td>
                <div class="form-group">
                    <div style="float:left;">
                        @Html.DropDownListFor(e => e.CustomFieldDataType,
                        new List<SelectListItem>
                        {
                           new SelectListItem { Value = "" , Text = "Select Data Type" },
                           new SelectListItem { Value = "bit" , Text = "Bit" },
                           new SelectListItem { Value = "datetime" , Text = "DateTime" },
                           new SelectListItem { Value = "float" , Text = "Float" },
                           new SelectListItem { Value = "int" , Text = "Int" },
                           new SelectListItem { Value = "smalldatetime" , Text = "SmallDateTime" },
                           new SelectListItem { Value = "varchar" , Text = "String" },
                        },
                         new { style = "height:70%; width:250px;", id = "ddlCustomFieldDataType", required = "required", @class = "form-control", data_required_error = "Please select Data Type" })
                    </div>
                    <div style="float:left;  padding-left:10px;">
                        <div class="help-block with-errors" style="height:10px; font-weight:bold;"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td align="right" valign="middle">@Html.LabelFor(e => e.Active, new { @class = "control-label" })</td>
            <td>
                @Html.DropDownListFor(e => e.Active,
                new List<SelectListItem>
                    {
                       new SelectListItem { Value = "True" , Text = "Yes" },
                       new SelectListItem { Value = "False" , Text = "No" },
                    },
                     new { style = "height:70%; width:270px;", id = "ddlActive" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn-blue2" id="btnSave">Save</button>
                <button type="button" class="btn-blue2" id="btnCancel" onclick="return showAlert()">Cancel</button>
            </td>
        </tr>
    </table>
}
