<script>
    function MessageExplorer(options) {
        this.select = options.select;
        this.customerID = options.CustomerID;

        this.open = function () {
            var window = $("#MessageExplorer").data("kendoWindow");
            window.center().open();
            showLoadingWindow();
        };
        this.close = function () {
            var window = $("#MessageExplorer").data("kendoWindow");
            window.close();
        };

    }

    function bindSelectMessages() {
        var Messages_Folders = {
            schema: {
                model: {
                    id: "FolderID",
                    FolderID: "FolderID",
                    CustomerID: "CustomerID",
                    FolderName: "FolderName"
                }
            },
            transport: {
                read: {
                    url: '@Url.Action("GetFolders", "Web")?customerId=' + explorer.customerID,
                    async:true,
                    data: function (data) {
                        data.CustomerID = explorer.customerID;
                        data.Type = "CNT";
                    }
                }
            }
        };

        var Messages_Customer = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                      url: '@Url.Action("GetSingleCustomer", "Web")?customerID=' + explorer.customerID,
                      async:true
                }
            },
            schema: {
                model: {
                    id: 0,
                    FolderID: 0,
                    children: Messages_Folders,
                    hasChildren: true
                }
            }
        });

        kendo.destroy("#Message_Folders");
        var treeview = $("#Message_Folders").kendoTreeView({
            dataSource: Messages_Customer,
            dataTextField: ["CustomerName", "FolderName"],
            loadOnDemand: true,
            autoBind: false,
            expand: function (e) {
                expandedItem = this.dataItem(e.node);
            },
            select: function (e) {
                var grid = $("#Messages").data("kendoGrid");
                var dataItem = this.dataItem(e.node);
                $("#allFoldersCB").prop('checked', false);
                var searchString = $("#message_searchInput").val();
                grid.dataSource.read({
                    CustomerId: dataItem.CustomerID,
                    FolderId: dataItem.FolderID,
                    search: searchString,
                    allFolders:false
                });
            }
        }).data('kendoTreeView');

        var searchString = $("#message_searchInput").val();
        
        

        kendo.destroy("#Messages");
        $("#Messages").kendoGrid({
            columns: [
                { field: "MessageName", width: 220, title: "Message Name" },
                { template: "<i class='km-icon icon-kmplus-circled-1'></i>", }
            ],
            selectable: "row",
            autoBind: false,
            change: addMessage,
            dataSource: {
                transport: {
                    read: '@Url.Action("GetMessages", "Web")',
                    data: {
                        customerID: explorer.customerID,
                        folderId: 0,
                        search: searchString,
                        allFolders: false
                    }
                },
                schema: {
                    model: {
                        id: "MessageID",
                        MessageID: "MessageID",
                        MessageName: "MessageName",
                        FolderID: "FolderID",
                        CustomerID: "CustomerID"
                    }
                },
            },
            scrollable: true,
            height: 446
        });
        $("#MessageExplorer").on("MessageSelected", function (e) {
            explorer.select(e);
        });
    }

    var _customerID;
    var explorer;
    function onMessageExplorerOpen() {
        bindSelectMessages();
        var tree = $("#Message_Folders").data("kendoTreeView");
        var grid = $("#Messages").data("kendoGrid");
        $("#allFoldersCB").prop('checked', false);
        $("#message_searchInput").val('');
        tree.dataSource.read();
        grid.dataSource.read({
            customerId: explorer.customerID,
            folderId: 0,
            search: '',
            allFolders: false
        });

        setTimeout(function () {
            var root = tree.findByText("Root");
            tree.expand(root);
            tree.select(root);
            

        },75);
        
    }

    function onMessageExplorerClose() {
        $(".k-overlay").remove();
    }

    function messageExplorer(select, customerID) {
        explorer = new MessageExplorer({
            select: select,
            CustomerID: customerID
        });
        explorer.open();
    }

    function addMessage(e) {
        var item = this.select();
        if (item.length == 0) {
            return;
        }
        var message = this.dataItem(item);
        //e.sender.clearSelection();
        var event = $.Event("MessageSelected");
        event.sender = explorer;
        event.message = message;
        $("#MessageExplorer").trigger(event);
        if (!event.isDefaultPrevented()) {
            explorer.close();
        }
    }
</script>

@{
    var explorer = Html.Kendo()
                       .Window()
                       .Title("Messages")
                       .Name("MessageExplorer")
                       .Modal(true)
                       .Animation(false)
                       .Content(Content().ToString())
                       .Events(e => e
                                    .Open("onMessageExplorerOpen")
                                    .Close("onMessageExplorerClose"))
                       .Visible(false)
                       .Width(740);

    explorer.Render();
}
@helper Content()
{
    <div class="wrapper modal modalgroupexplorer">
        <fieldset title="Message Explorer">
            <legend>Messages</legend>
            <div>
                <span>Messages to Search:</span>
                <input type="text" id="message_searchInput" />
                <input type="checkbox" id="allFoldersCB" /> All Folders
                @Html.Kendo().Button().Name("Search").Content("Search").HtmlAttributes(new { @class = "btn k-button", type = "button", onclick = "Message_search()" })
                @Html.Kendo().Button().Name("ClearSearch").Content("Clear Search").HtmlAttributes(new { @class = "btn k-button", type = "button", onclick = "Message_clearSearch()" })
            </div>
            <div class="customerlist">
                <fieldset title="Customer/Folder ">
                    <legend>Folders</legend>
                    <div id="Message_Folders"style="overflow-y: scroll;overflow-x:scroll;width:330px;display:inline-block;"></div>
                </fieldset>
            </div>
            <div class="customerlist">
                <fieldset title="Selected Group">
                    <legend>Selected Message</legend>
                    <div id="Messages"></div>
                </fieldset>
            </div>
        </fieldset>
    </div>

    <script>
        function Message_search() {
            var searchString = $("#message_searchInput").val();
            var tv = $('#Message_Folders').data('kendoTreeView');
            var selectedFolder = tv.dataItem(tv.select());
            var allFolders = $("#allFoldersCB").is(':checked');
            var grid = $("#Messages").data("kendoGrid");
            var folderID = 0;
            if (selectedFolder === undefined)
                folderID = '0';
            else
                folderID = selectedFolder.id;

            grid.dataSource.read({
                customerId: explorer.customerID,
                folderId: folderID,
                search: searchString,
                allFolders: allFolders
            }).then(function () {
                var dataSource = grid.dataSource;
                var data = dataSource.data();
                if (data.length > 0) {
                    dataSource.page(1);
                }
            });

        }

        function Message_clearSearch() {
            $("#message_searchInput").val('');
            $("#allFoldersCB").prop('checked', false);
            var tv = $('#Message_Folders').data('kendoTreeView');
            var getitem = tv.dataSource.get(0);
            tv.findByUid(getitem.uid);
            var selectitem = tv.findByUid(getitem.uid);
            tv.select(selectitem);

            var grid = $("#Messages").data("kendoGrid");
            grid.dataSource.read({
                customerId: explorer.customerID,
                folderId: 0,
                search: '',
                allFolders: false
            }).then(function () {
                var dataSource = grid.dataSource;
                var data = dataSource.data();
                if (data.length > 0) {
                    dataSource.page(1);
                }
            });


        };
    </script>
}