@model ecn.gateway.Models.SendPasswordModel

@{
    ViewBag.Title = "Send Password";
}

<hgroup class="title">
</hgroup>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <header>
        
    </header>
    
    <fieldset>
        <legend>Send Password Form</legend>
        <ol>
            <li>
                <div class="forgotpassword-label">
                    @Html.LabelFor(m => m.ForgotPasswordMessage)
                </div>

                <div class="username-textbox">
                    @Html.TextBoxFor(m => m.EMail)
                </div>

                <div class="username-validation">
                    @Html.ValidationMessageFor(m => m.EMail)
                    
                </div>
            </li>
        </ol>

        <input type="submit" class="submit-button" value="Submit" />

        <ol>
            <li>
                 <div class="emailAddressObj">
                    @Html.Raw(ViewBag.SuccessMessage)
                     @Html.ValidationMessage("SendPassword.Invalid")
                </div>
            </li>
        </ol>
    </fieldset>
}

<script type="text/javascript">

</script>