@model ECN_Framework_Entities.Communicator.Email
@{
    ViewBag.Title = "_MergeEmailsDetails";
}
<style>
    .emailDetails td {
        border: solid 1px #A4A2A3;
        padding-left: 5px;
        width:250px;
        text-align:left;
    }
</style>
<div style="margin-bottom:15px;">
    <table class="emailDetails">
        <tbody>
            <tr>
                <td>EmailID</td>
                <td>@Model.EmailID</td>
            </tr>
            <tr>
                <td>EmailAddress</td>
                <td>@Model.EmailAddress</td>
            </tr>
            <tr>
                <td>CustomerID</td>
                <td>@Model.CustomerID</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>FirstName</td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td>LastName</td>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <td>FullName</td>
                <td>@Model.FullName</td>
            </tr>
            <tr>
                <td>Company</td>
                <td>@Model.Company</td>
            </tr>
            <tr>
                <td>Occupation</td>
                <td>@Model.Occupation</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <td>Address2</td>
                <td>@Model.Address2</td>
            </tr>
            <tr>
                <td>City</td>
                <td>@Model.City</td>
            </tr>
            <tr>
                <td>State</td>
                <td>@Model.State</td>
            </tr>
            <tr>
                <td>Zip</td>
                <td>@Model.Zip</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>@Model.Country</td>
            </tr>
            <tr>
                <td>Voice</td>
                <td>@Model.Voice</td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td>@Model.Mobile</td>
            </tr>
            <tr>
                <td>Fax</td>
                <td>@Model.Fax</td>
            </tr>
            <tr>
                <td>Website</td>
                <td>@Model.Website</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>@Model.Age</td>
            </tr>
            <tr>
                <td>Income</td>
                <td>@Model.Income</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>User1</td>
                <td>@Model.User1</td>
            </tr>
            <tr>
                <td>User2</td>
                <td>@Model.User2</td>
            </tr>
            <tr>
                <td>User3</td>
                <td>@Model.User3</td>
            </tr>
            <tr>
                <td>User4</td>
                <td>@Model.User4</td>
            </tr>
            <tr>
                <td>User5</td>
                <td>@Model.User5</td>
            </tr>
            <tr>
                <td>User6</td>
                <td>@Model.User6</td>
            </tr>
            <tr>
                <td>Birthdate</td>
                <td>@Model.Birthdate</td>
            </tr>
            <tr>
                <td>UserEvent1</td>
                <td>@Model.UserEvent1</td>
            </tr>
            <tr>
                <td>UserEvent1Date</td>
                <td>@Model.UserEvent1Date</td>
            </tr>
            <tr>
                <td>UserEvent2</td>
                <td>@Model.UserEvent2</td>
            </tr>
            <tr>
                <td>UserEvent2Date</td>
                <td>@Model.UserEvent2Date</td>
            </tr>
            <tr>
                <td>Notes</td>
                <td>@Model.Notes</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Model.Password</td>
            </tr>
            <tr>
                <td>BounceScore</td>
                <td>@Model.BounceScore</td>
            </tr>
            <tr>
                <td>SoftBounceScore</td>
                <td>@Model.SoftBounceScore</td>
            </tr>
            <tr>
                <td>SMSOptIn</td>
                <td>@Model.SMSOptIn</td>
            </tr>
            <tr>
                <td>CarrierCode</td>
                <td>@Model.CarrierCode</td>
            </tr>
            <tr>
                <td>FormatTypeCode</td>
                <td>@Model.FormatTypeCode</td>
            </tr>
            <tr>
                <td>SubscribeTypeCode</td>
                <td>@Model.SubscribeTypeCode</td>
            </tr>
            <tr>
                <td>DateAdded</td>
                <td>@Model.DateAdded</td>
            </tr>
            <tr>
                <td>DateUpdated</td>
                <td>@Model.DateUpdated</td>
            </tr>
        </tbody>
    </table>
</div>