@model UAS.Web.Models.UAD.Filter.StandardFilter
<table width="100%" border="0" cellpadding="5" cellspacing="5" style="border: solid 1px #5783BD;margin:0;">
    <tbody>
        <tr style="background-color: #5783BD;">
            <td style="padding: 5px; font-size: 20px; color: #ffffff; font-weight: bold" align="center">
                Other Permission Fields Filter
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <table border="0" bordercolor="#cccccc" cellpadding="1" cellspacing="1" width="100%">
                    <tbody>
                        <tr style="background-color: #5783BD;padding: 0px 0px 0px 0px; height: 20px;">
                            <td class="labelsmall" style="color: white;border:1px solid white;" colspan="7" align="center">
                                <b>Permissions</b>
                            </td>
                           
                        </tr>
                        <tr style="background-color: #eeeeee; color: black; padding: 2px 0px 2px 0px; height: 20px;">
                            
                            <td align="center" style="border:1px solid white;">
                                <b>Mail</b>
                            </td>
                            <td align="center" style="border:1px solid white;">
                                <b>Fax</b>
                            </td>
                            <td align="center" style="border:1px solid white;">
                                <b>Phone</b>
                            </td>
                            <td align="center" style="border:1px solid white;">
                                <b>Other Products</b>
                            </td>
                            <td align="center" style="border:1px solid white;">
                                <b>3rd Party</b>
                            </td>
                            <td align="center" style="border:1px solid white;">
                                <b>Email Renew</b>
                            </td>
                            <td align="center" style="border:1px solid white;">
                                <b>Text</b>
                            </td>
                            
                        </tr>
                        <tr>
                           
                            <td align="center" valign="top" style="border:1px solid white;">
                                @(Html.Kendo().MultiSelect()
                                          .Name("lstPermMail")
                                          .AutoClose(true)
                                          .TagMode(TagMode.Multiple)
                                        .BindTo(Model.YesNoBlankSelectList)
                                        .AutoWidth(false)
                                        .ClearButton(false))
                                
                            </td>
                            <td align="center" valign="top" style="border:1px solid white;">
                                @(Html.Kendo().MultiSelect()
                                          .Name("lstPermFax")
                                          .AutoClose(true)
                                          .TagMode(TagMode.Multiple)
                                        .BindTo(Model.YesNoBlankSelectList)
                                        .AutoWidth(false)
                                        .ClearButton(false))
                             
                            </td>
                            <td align="center" valign="top" style="border:1px solid white;">
                                @(Html.Kendo().MultiSelect()
                                          .Name("lstPermPhone")
                                          .AutoClose(true)
                                          .TagMode(TagMode.Multiple)
                                        .BindTo(Model.YesNoBlankSelectList)
                                        .AutoWidth(false)
                                        .ClearButton(false))
                               
                            </td>
                            <td align="center" valign="top" style="border:1px solid white;">
                                @(Html.Kendo().MultiSelect()
                                          .Name("lstPermOtherProducts")
                                          .AutoClose(true)
                                          .TagMode(TagMode.Multiple)
                                        .BindTo(Model.YesNoBlankSelectList)
                                        .AutoWidth(false)
                                        .ClearButton(false))
                               
                            </td>
                            <td align="center" valign="top" style="border:1px solid white;">
                                @(Html.Kendo().MultiSelect()
                                          .Name("lstPermThirdParty")
                                          .AutoClose(true)
                                          .TagMode(TagMode.Multiple)
                                        .BindTo(Model.YesNoBlankSelectList)
                                        .AutoWidth(false)
                                        .ClearButton(false))
                               
                            </td>
                            <td align="center" valign="top" style="border:1px solid white;">
                                @(Html.Kendo().MultiSelect()
                                          .Name("lstPermEmailRenew")
                                          .AutoClose(true)
                                          .TagMode(TagMode.Multiple)
                                        .BindTo(Model.YesNoBlankSelectList)
                                        .AutoWidth(false)
                                        .ClearButton(false))
                              
                            </td>
                            <td align="center" valign="top" style="border:1px solid white;">
                                @(Html.Kendo().MultiSelect()
                                          .Name("lstPermText")
                                          .AutoClose(true)
                                          .TagMode(TagMode.Multiple)
                                        .BindTo(Model.YesNoBlankSelectList)
                                        .AutoWidth(false)
                                        .ClearButton(false))
                              
                            </td>
                            
                        </tr>
                        <tr>
                            <td align="center" colspan="7" style="padding-bottom: 10px;">
                                <br>
                                <input type="button" name="btnSelectPermissionFilter" onclick="SelectClosePermissionFieldFilter()" value="Select/Close" class="filterButton">
                                <input type="button" name="btnResetPermissionFilter" onclick="ResetClosePermissionFieldFilter()" value="Reset" class="filterButton">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>